<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>有奖答题系统</title>
<link href="view/<{$tplName}>/css/admin/frame_reset.css" rel="stylesheet" type="text/css" />
<link href="view/<{$tplName}>/css/admin/frame_layout.css" rel="stylesheet" type="text/css" />
<link href="view/<{$tplName}>/css/admin/image.css" rel="stylesheet" type="text/css" />
<link href="view/<{$tplName}>/css/admin/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="view/<{$tplName}>/js/jquery.min.js"></script>
<script type="text/javascript" src="view/<{$tplName}>/js/jquery.overall.js"></script>
<script type="text/javascript" src="view/<{$tplName}>/js/jquery.common.js"></script>
<script type="text/javascript" src="view/<{$tplName}>/js/jquery.validate.js"></script>
<script type="text/javascript" src="view/<{$tplName}>/js/jquery.validate.messages.js"></script>
<script type="text/javascript" src="view/<{$tplName}>/js/jquery.form.js"></script>

</head>
<body>