<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div id='export_bar'>
	<div class='clearfix bar-report' id='bar_export' style="margin-top: 10px;">
        <div class='clearfix bar-creport' id='bar_cexport'></div>
    </div>
	<span id='current_cnt' style='margin-left:5px;float:left;'>0</span><span style='float:left;'>/</span>
	<span id='all_cnt' style='float:left;'>0</span>
	<span id='export_msg' style='margin-left:10px;float:left;'></span>
	<span id='export_url' ></span>
</div>