<{include file="../inc/_header.html"}>

<body>
<!-- header start -->
<div id="header">
    <div id="header-top">
        <div class="floatL" style="font-size: 48px;font-weight: bolder;">
<!--            <img src="view/<{$tplName}>/images/login/logo.gif"/>-->
            答题有奖题库管理系统
        </div>
        <{if $msgFlag == true}>
		<div class="menu">
        	<p>
                <!--<a href="#" class="msg">消息 <em>2</em></a> ｜
				<a href="#">建议</a> |-->
                <a href="#">帮助中心</a> ｜
				
				<a href='#' onclick="itemWindow('修改密码', '<{spUrl c=main a=passwd}>', '500', '250');">修改密码</a> |
                <a href="#" onclick="if(confirm('确定退出登录吗？')){ location.href = '<{spUrl c=main a=logout}>';}">安全退出</a>
            </p>
			<p id="showName">
				<{include file="../inc/_name.html"}>
			</p>
        </div>
		<{/if}>
    </div>
    
    <div id="nav" class="nav">
        <div class="nav-cnt">
            <ul>
			<{foreach item=item name=nav from=$tNavigation}>
			<li <{if $item.tid eq $smarty.get.tid}> class="master current" <{else}> class="master" <{/if}>>
				<a class="name" href="<{spUrl c=$item.controller a=$item.action tid=$item.tid sid=$item.sid}>"><strong><{$item.name}></strong></a>

				<{if ($item.tid eq $smarty.get.tid && 0<$item.hassub)}>
					<{if (1 eq $item.mainflag)}>
						<p class="subnav">
							<span><{T('txt_common_operation')}></span>
							<{foreach item=subitem name=subnav from=$item.subitem}>				
									<a href="<{spUrl c=$subitem.controller a=$subitem.action tid=$item.tid}>"><{$subitem.name}></a> |
							<{/foreach}>
						</p>
					<{else}>
						<ul class="subnav" style="width:930px">
						<{foreach item=subitem name=subnav from=$item.subitem}>				
							<li <{if $subitem.sid eq $smarty.get.sid}>class="current"<{/if}>>
								<a href="<{spUrl c=$subitem.controller a=$subitem.action tid=$item.tid sid=$subitem.sid}>"><span><{$subitem.name}></span></a>
							</li>
						<{/foreach}>
						</ul>
					<{/if}>
					
				<{elseif ($item.tid eq $smarty.get.tid && 0 eq $item.hassub)}>
					<script type="text/javascript">
						$(document).ready(function(){
							$('#nav').addClass('nav-nosub');
						});
					</script> 	
				<{/if}>
			<{/foreach}>
			</li>
            </ul>
        </div>
    </div>
</div>
<!-- header end -->

<script type="text/javascript">
$(document).ready(function(){
	jQuery.ajax({
		type: 'get',
		url: "<{spUrl c=main a=showName}>",
		success: function(data,html){jQuery("#showName").html(data);},
		error: function(){}
	})
})
</script>
			