<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Sorry! 你访问的页出错了！</title>
    <link href="view/<{$tplName}>/css/game/reset.css" rel="stylesheet" type="text/css"/>
    <link href="view/<{$tplName}>/css/game/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="view/<{$tplName}>/js/jquery.min.js"></script>
</head>
<body>
<div class="question_box">
<div class="question_main">
    <div class="timu wrongTxt clearfix" style=" padding-top: 0px;">
        <p style="font-size:16px;">Oh,My God！活动要开始了，你准备好了吗？</p>
        <p><img src="view/<{$tplName}>/images/game/cry.png"  style="width:50px;height:50px;"/></p>
        
        <p align="center" style="color:#ff0000;font-size:16px;">出错了！<{$errorinfo}></p>
        <p>&nbsp;</p>
        <p style="font-size:14px;text-align: left;">每周举办一期游戏活动，分为”资格累计期“和”游戏活动日“</p>
    </div>
    
    <ul>
            <li  style="font-size:11px;"><span style="font-weight:bolder;color: red;">资格累计期:上周五00:00:00至本周四23:59:59</span>(通过建行网上银行或者手机银行办理至少一笔金额10元以上的财务性交易,即可参加每周五的游戏活动,赢取大奖！)</li>
            <li  style="font-size:11px;"><span style="font-weight:bolder;color: red;">游戏活动日:每周五早9:00-晚21:00</span></li>
            <li style="font-size:11px;">每期获得的游戏资格只能在当周使用，未如期使用的视为作废，不计入下期</li>
        </ul>
    <div class="btn_box clearfix">
<!--        <A href="javascript:history.back(-1);" class="btn_red"><FONT >此处返回</FONT></A>-->
    </div>
</div>
</div>
</body>
</html>